

body{
    font-family: Arial, sans-serif;
    background-color: #1a2c32;
    color: rgb(51, 51, 51);
    
}

.section {
  
    height:100vh;
    background-color: #1a2c32;
    color: rgb(51, 51, 51);
    
}

.container{
    
    display: flex ;
    overflow: hidden;

  

    flex-direction: column;
    align-items: center;

    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;

}

.w-container{
    margin-left: auto;
    margin-right: auto;

}

.navbar{
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    height: 65px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
   
}

.logo{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    
  }

  .linkblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  
  }

  .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 1;
  }

  .link1 {
    margin-right: 25px;

  }

  .link2 {
    margin-right: 25px;
  }

  .text-span {
    font-weight: 400;
  }

  .contentwrapper{
      
    width: 1200px;
    height: 600px;
    margin-left:-180px;
    padding-top: 60px;
    padding-bottom: 195px;

  }

  .keywords{
    display: flex;
    margin-top:250px;
    margin-bottom: 15px;
    margin-right:15px;
    width:600px;

  }

  .keyword{
    display: flex;
    margin-right: 24px;
    margin-bottom: 15px;



  }

  .text-block{
      color:white;

  }

  .marker{
      margin-right: 8px;
  }

  .name{
    color: #fff;
    margin-top: 20px;
    margin-bottom:8px;
    font-family: 'Open Sans', sans-serif;
    
    font-size: 90px;
    line-height: 1;
}

.title{
    color:#fff;
    margin-bottom: 50px;
    font-family: '';
    font-size: 20px;
    line-height: 1;
    font-family: 'SF Mono', monospace;
}

/* Entire button container */
.btn-wrapper{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    width:600px;

}

/* Download resume */
.btn{
    display: flex;
    width: auto;
    height: auto;
    margin-right: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ef855b;
    
}

.btn:hover {
    background-color: #469e84;
  }
/* Download resume btn txt */
.btn-txt {
    padding: 18px 34px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 1;

  }

  /* About me outline */
.btn-outline {
    width: auto;
    height: auto;
    border: 1px solid #ef855b;
    background-color: #00000000;
    border-radius: 20px;
   
  }
  

   /* About me outline txt */
.btn-txt .outline {
    color: #ef855b;
   
}

/* remove the underline link from #about-me button */
a {
  text-decoration: none;
  color: white;
}

.btn-outline:hover {
    border-color: #469e84;
    
   } 

.outline:hover {
    color: #469e84;
   
}

.socials {

  
  width: 40px;
  height:160px;
  margin-top:-200px;
  padding-bottom:100px;
  margin-left: 1200px;
  display:flex;
  flex-direction:column;
}

.social {
  margin: 5px;
}



.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
 
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
  height:100vh
  
}

.headshot {
  width: 300px;
  border-radius: 150px;
  margin-left: 80px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}



@media screen and (min-width: 400px) {
  body {
    background-color: lightgreen;
  }
}